body {
  background-color: #0d0d1a;
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height:100%;
}

html, body {
  scroll-behavior: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sudoku-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color:white;
  margin-bottom: 2px;
}

.sudoku-container h5{
  margin-top:2px;
  margin-bottom: 5px;
}
p{font-size: 20px;   
  font-weight: 400;
  margin: 2px;}

.start-game {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  background-color: #28a745;;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.start-game:hover {
  background-color: #218838;
}

.sudoku-grid {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  caret-color: black;
}

.sudoku-row {
  display: flex;
}

.sudoku-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
  outline: none;
  background-color: white;
  transition: background-color 0.3s ease;
}

.sudoku-input:hover{
  background-color: #d0d0d0;
}

.sudoku-input.border-right {
  border-right: 3px solid black;
}

.sudoku-input.border-bottom {
  border-bottom: 3px solid black;
}

.sudoku-input.correct {
  background-color: #a0e7a0;
}

.sudoku-input.wrong {
  background-color: #e79a9a;
}

.game-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3b82f6;
}

.left-panel{
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 450px;
  color:white;
  align-items: center;
  text-align: center;
}

.rules-fixed {
  margin-top: 10px;
  padding: 15px;
  background-color: #222;
  border-radius: 10px;
  max-width: 400px;
  font-size: 16px;   
  font-weight: 400;
  text-align: left;
}

.rules-fixed h3 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}

.rules-fixed ul {
  padding-left: 20px;
  margin: 10px 0 0 0;
}

.rules-fixed li {
  margin-bottom: 6px;
}

h1{white-space: nowrap;}

.Game {
  font-size: 3.5rem;
  margin-bottom: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px #b19cd9;
  margin-top: 2px;
  margin-bottom: 2px;
}
.top-bar {
  position: absolute;
  top: 20px;
  right: 30px;
  display: inline-block;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.score-time {
  display: flex;
  align-items: center;
  background-color: #6754f8;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(50, 50, 100, 0.8);
  backdrop-filter: blur(5px);
}

.time-text {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.2rem;
}

.points-text {
  margin-left: 10px;
}

