* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
  .login-whole {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    animation: fadeIn 0.6s ease-in-out;
  }
  
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .input-box input::placeholder {
    color: #fff;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  

  .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e0e0e0;
    background:fff;
  }
  
  .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  